<div id="<%= dom_id sensei %>">
  <p>
    <strong>First name:</strong>
    <%= sensei.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= sensei.last_name %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= sensei.bio %>
  </p>

</div>
