<h1>Dashboard</h1>

<h2>Senseis</h2>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Courses</th>
      <th>Students</th>
      <th>Compliant?</th>
    </tr>
  </thead>
  <tbody>
    <% @senseis.each do |sensei| %>
      <tr>
        <td><%= sensei.full_name %></td>
        <td><%= sensei.courses.count %></td>
        <td><%= sensei.students.uniq.count %></td>
        <td><%= sensei.compliant? %></td>
      </tr>
    <% end %>
  </tbody>
</table>
