<h1>Editing assignment</h1>

<%= render "form", assignment: @assignment %>

<br>

<div>
  <%= link_to "Show this assignment", course_assignment_path(@course, @assignment) %> |
  <%= link_to "Back to assignments", course_assignments_path(@course) %>
</div>
